
<div>
<h1>Bienvenido/a {{miUsuario.nombre}}</h1>

<div class="wrapper">
      <div class="col_third">
        <div class="hover conten">
          <div class="front">
            <div class="box1">
              <p>Bienvenido/a {{miUsuario.nombre}}</p>
            </div>
          </div>
          <div class="back">
            <div class="box2">
              <p>Disfruta las pizzas!</p>
              <img src="img/pizzas-articulo.jpg" width="200" height="80">
            </div>
          </div>
        </div>
		</div>

		<div class="col_third">
        <div class="hover conten">
          <div class="front">
            <div class="box1">
              <p>Bienvenido/a {{miUsuario.nombre}}</p>
            </div>
          </div>
          <div class="back">
            <div class="box2">
              <p>Disfruta las picadas!</p>
              <img src="img/picadas.jpg" width="200" height="80">
            </div>
          </div>
        </div>
		</div>

		<div class="col_third end">
        <div class="hover conten">
          <div class="front">
            <div class="box1">
              <p>Bienvenido/a {{miUsuario.nombre}}</p>
            </div>
          </div>
          <div class="back">
            <div class="box2">
              <p>Disfruta los postres!</p>
              <img src="img/postre-articulo.jpg" width="200" height="80">
            </div>
          </div>
        </div>
      </div>
	 </div>
</div>